.SinItems{
    height: 100vh;
}

.Cart{
    height: auto;
}

.Button {
    width: auto;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #211035;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

