.item_card {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 1rem 1rem;
} 

.img_detail {
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 10px;
    width: 70%;
    object-fit: cover;
    margin-bottom: 10px;
    height: auto;
}

.detail {
    margin-top: 10px;
    width: 100%;
    text-align: initial;
    font-size: 20px;
    padding: 0px;
}

.detailCount {
    align-items: center;
    text-align: center;
} 