.containerCard{
    display: flex;
}
.containerCard_Item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #191c20;
    padding: .5rem 1rem;
    margin: 1rem 1rem;
}

.productName {
    font-weight: bold;
    font-size: 20px;
}

.productPrice {
    font-weight: bold;
    font-size: 20px;
}

.productCategory {
    font-size: 0.8rem;
    text-align: center;
}

.productImg {
    width: 100%;
    height: auto;
    padding: .5rem;
    object-fit: cover;
}

.productStock {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.productDescription {
    text-align: center;
    font-size: 16px;
    padding: .5rem;
} 